{% extends "booking/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto text-center">
            <img src="https://res.cloudinary.com/dmihylmnz/image/upload/v1666100376/l%C3%A5suppst%C3%A4llning_mindre-removebg_puucnn.png"
                class="img-fluid" alt="team">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3 class="text-center">About Us</h3>
            <p class="text-center">Best Lås & Säkerhetssystem AB has operated in Sweden for almost 45 years, a company
                characterized by
                accuracy and absolute affection towards its customers.
                "BEST" SWEDEN was founded by Hans Jarkell back in 1974, the company was later taken over by Hans Edling
                in 1989 and today the company is owned and run by first and second generation family members.
                Family feeling and responsibility have always characterized our business, we are a very personal company
                that creates personal contact with all our customers.
                <br><br>
                Best Lås started as a pure distributor of BEST ACCESS SYSTEM, but has today developed into a complete
                security supplier. Today, we do both installations and are resellers for several suppliers.
                <br><br>
                Our quality and our flexibility, which gives us a unique ability to adapt to customers, are our greatest
                strengths and today we deliver everything from the slightly simpler standard locking system to security
                systems of a very complex nature. We don't just see ourselves as a security provider, we create together
                with our customers their own unique security systems.
                <br><br>
                Welcome to a proud and stable family business where today's more than 40-year-old watchwords are still
                very much alive - reliability, efficiency and quality.</p>
        </div>
    </div>
    <div class="row justify-content-center text-center">
            <h4 class="text-center">Our Locksmiths</h4>
            <div class="col-lg-2 col-md-2 col-xs-2 thumb">
                <img src="https://res.cloudinary.com/dmihylmnz/image/upload/v1665653429/kenneth_ipsm90.jpg"
                    alt="Kenneth" class="img-thumbnail">
                <p>Kenneth</p>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 thumb">
                <img src="https://res.cloudinary.com/dmihylmnz/image/upload/v1665653422/robin_ovwfjj.jpg" alt="Robin"
                    class="img-thumbnail">
                <p>Robin</p>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2 thumb">
                <img src="https://res.cloudinary.com/dmihylmnz/image/upload/v1665653412/fredrik_qkbikr.jpg"
                    alt="Fredrik" class="img-thumbnail">
                <p>Fredrik</p>
            </div>
    </div>
</div>

{% endblock %}