{% extends "booking/base.html" %}

{% block content %}
<div class="col-sm-6 mx-auto">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success">
    <strong>{{message}}</strong>
  </div>
  {% endfor %}
  {% endif %}
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 mx-auto text-center">
      <!-- Shows reviews is user is staff. Buttons to hide/show on hom page and deleting reviews -->
      {% if user.is_staff %}
      <a href="{% url 'reviews' %}" class="btn btn-secondary btn-lg disabled">All Reviews</a>
      <a href="{% url 'users' %}" class="btn btn-secondary btn-lg">All Users</a>
      <a href="{% url 'my_account' %}" class="btn btn-secondary btn-lg">All Bookings</a>
      <h1 class="text-center" style="margin-top: 10px;">All Reviews</h1>
      <div class="card-deck text-center">
        {% for review in reviews %}
        <div class="card bg-light mb-3 mx-auto" style="max-width: 36rem;">
          <div class="card-body">
            <h5 class="card-title">Review from: {{ review.user }}</h5>
            <p class="card-text">{{ review.review }}</p>
            <p class="card-text"><small>{{ review.created_on }}</small></p>
            <a href="/delete_review/{{ review.id }}" class="btn btn-danger"
              onclick="return confirm('Are you sure you want to delete? This can not be undone.')">Delete</a>
            {% if review.approved %}
            <a href="/review_status/{{ review.id }}" class="btn btn-secondary">Hide From Homepage</a>
            {% else %}
            <a href="/review_status/{{ review.id }}" class="btn btn-primary">Show On Homepage</a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}