{% extends "booking/base.html" %}

{% block content %}
<div class="col-sm-6 mx-auto">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 mx-auto text-center">
            {% if user.is_staff %}
            <a href="{% url 'reviews' %}" class="btn btn-secondary btn-lg">All Reviews</a>
            <a href="{% url 'users' %}" class="btn btn-secondary btn-lg disabled">All Users</a>
            <a href="{% url 'my_account' %}" class="btn btn-secondary btn-lg">All Bookings</a>
            <div class="card-deck text-center">
                {% for user in users %}
                <div class="card bg-light mb-3 mx-auto" style="max-width: 36rem;">
                    <div class="card-body">
                        <h5 class="card-title">User: {{ user.username }} {% if user.is_staff %}<span
                                class="btn btn-info btn-sm disabled">Is Staff</span>{% endif %}</h5>
                        <p class="card-text">{{ user.email }}</p>
                        <a href="/delete_user/{{ user.id }}" class="btn btn-danger"
                            onclick="return confirm('Are you sure you want to delete? This can not be undone.')">Delete
                            User</a>
                        {% if user.is_staff is False %}
                        <a href="/staff_status/{{ user.id }}" class="btn btn-primary" onclick="return confirm('Are you sure you want this user to be staff?')">Make Staff</a>
                        {% else %}
                        <a href="/staff_status/{{ user.id }}" class="btn btn-secondary" onclick="return confirm('Are you sure you want to remove this user from staff?')">Remove from Staff</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}